body {
  font-size: 40px;
}

ul, ol {
  padding: 0;
}

li {
  margin-left: 60px;
}

.tag {
  border: solid 4px;
  margin: 5px;
}

.tag label {
  color: #fff;
  font-size: 25px;
  vertical-align: top;
  margin-right: 10px;
  padding: 0px 5px 3px 3px;
}
.big {
  font-size: 1.5em;
}
.flex-container {
  display: flex; /* direction line */
  flex-direction: column; /* direction column*/
  flex-direction: column-reverse;
  flex-direction: row-reverse;
  flex-direction: row;
  width: 50%;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  flex-flow: row wrap;
  height: 400px;
  flex-flow: column-reverse wrap;

  flex-flow: row wrap;
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;

  align-items: stretch;
  align-items: baseline;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;

  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: space-around;
  align-content: space-between;
}